@model IEnumerable<DBMediateka.Models.Country>
@{
    ViewBag.Title = "Country";
}

<table class="table table-bordered">
    <tr class="active">
        <th>ID</th>
        <th>Name</th>        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._name)
            </td>           
        </tr>
    }
</table>
