@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1> Работа выполнена с помощью следующих технологий: </h1><br />
    <h4><ul>
        <li>C#</li>
        <li>ASP.NET Core 2</li>
        <li>HTML 5</li>
        <li>CSS</li>
        <li>Bootstrap 3.3.7</li>
        <li>Database MySql 5.7</li>
    </ul></h4>
</div>
