@model IEnumerable<DBMediateka.Models.SongGenre>
@{
    ViewBag.Title = "Song Genre";
}

<table class="table table-bordered">
    <tr class="active">
        <th>SongID</th>
        <th>GenreID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._songID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._genreID)
            </td>
        </tr>
    }
</table>
